<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>
		
		
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- 수평 디스플레이 광고 -->
		<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-4877378276818686"
				 data-ad-slot="4963641784"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
		<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		
		
    {% include footer.html %}
		
  </body>

</html>
